/* Todo */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.icons {
    width: 60px;
    padding: 10px;    
}

a {
    text-decoration: none;
    color: #333;
}

/* Barra superior */

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Para que se alinee al borde derecho del icono */
  background-color: #fff;
  min-width: 160px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.show {
    display: block;
}

header {
    border-bottom: #333 solid 1px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.center {
    flex: 2;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

#searchBar {
    flex: 1;
    width: 85%;
    height: 40px;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.one {
    display: flex;
    align-items: center; /* Centra verticalmente */
    gap: 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}